.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.w100 {
  width: 100px;
}
.w200 {
  width: 200px;
}
.h100 {
  height: 100px;
}
.h200 {
  height: 200px;
}
.color-blue {
  color: #0000ff;
}
.color-green {
  color: #00ff00;
}
.color-red {
  color: #ff0000;
}
.color-black {
  color: #000000;
}
.color-white {
  color: #ffffff;
}
.background-blue {
  background: #0000ff;
}
.background-green {
  background: #00ff00;
}
.background-red {
  background: #ff0000;
}
.background-black {
  background: #000000;
}
.background-white {
  background: #ffffff;
}
.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-18 {
  font-size: 18px;
}
.fs-19 {
  font-size: 19px;
}
.fs-20 {
  font-size: 20px;
}
.fs-21 {
  font-size: 21px;
}
.fs-22 {
  font-size: 22px;
}
.fs-23 {
  font-size: 23px;
}
.fs-24 {
  font-size: 24px;
}
.fs-25 {
  font-size: 25px;
}
.fs-26 {
  font-size: 26px;
}
.fs-27 {
  font-size: 27px;
}
.fs-28 {
  font-size: 28px;
}
.fs-29 {
  font-size: 29px;
}
.fs-30 {
  font-size: 30px;
}
.fs-31 {
  font-size: 31px;
}
.fs-32 {
  font-size: 32px;
}
.fs-33 {
  font-size: 33px;
}
.fs-34 {
  font-size: 34px;
}
.fs-35 {
  font-size: 35px;
}
.fs-36 {
  font-size: 36px;
}
.fs-37 {
  font-size: 37px;
}
.fs-38 {
  font-size: 38px;
}
.fs-39 {
  font-size: 39px;
}
.fs-40 {
  font-size: 40px;
}
.container {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  background: #0000ff;
}
.container.background-red {
  background: #ff0000;
  height: auto;
}
.container.background-red p {
  color: #00ff00;
  font-size: 20px;
}
.container.background-red p:first-child {
  color: #0000ff;
  font-size: 14px;
}
